.link {
position: absolute;
width: 21.75rem;
height: 21.75rem;
left: 3rem;
top: 26rem;

background: #302F3D;
box-shadow: 0.14rem 0.14rem 0.14rem 0.14rem rgba(0, 0, 0, 0.2);
border-radius: 1rem;
flex-direction: column;}


.pin > img {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: 2.5rem;
}

.mapPin {
    /* map-pin */
    top: 1.875rem;
}

.briefcasePin {
    /* briefcase */
    top: 4.625rem;
    }

.githubPin {
    /* github */
    top: 7.375rem;
    
    }

.linkedinPin {
    /* linkedin */
    top: 10.125rem;
    }
    
.twitterPin {
    /* twitter */
    top: 12.875rem;
    }
.globePin {
    /* globe */
    top: 15.625rem;
    }

.mailPin {
        top: 18.375rem;
    
    }


.link span {
    position: absolute;
     width: 6rem;
    height: 1.4rem;
    left: 5.25rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
        
    color: #837E9F;
    
    }
.brasilText {
    /* Brasil */
    
    top: 2.125rem;
    }

.briefcaseText {
/* Rocketseat */
    top: 4.875rem;
    }

.githubText {
    top: 7.625rem;

    }

.linkedinText {
    top: 10.375rem;
        
    }

.twitterText {
    top: 13.125rem;

    }


.siteText {
top: 15.93rem;

}

.emailText {
top: 18.6875rem
}