.profile {
position: absolute;
width: 21.75rem;
height: 21rem;
left: 3rem;
top: 2.5rem;
background: #302F3D;
box-shadow: 0.14rem 0.14rem 0.14rem 0.14rem rgba(0, 0, 0, 0.2);
border-radius: 1rem;
flex-direction: column;
}

.profileAvatar {
    box-sizing: border-box;
    width: 8rem;
    height: 8rem;
    left: 6.875rem;
    top: 2.18REM;
    border-radius: 26rem;  
    border: 0.14rem solid #00FF00;
    position: absolute;
}

.profile strong {
position: absolute;
width: 14rem;
height: 2rem;
left: 4.75rem;
top: 11.875rem;

font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 2rem;
color: #837E9F;
}

.profile span {
    position: absolute;
    width: 9rem;
    height: 1.0625rem;
    left: 6.875rem;
    top: 15rem;
    
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    
    
    color: #837E9F;
}