.projectsBox {
    position: absolute;
    width: 59.5rem;
    height: 5.37rem;
    left: 28rem;
    top: 2.5rem;
    background: #302F3D;
    box-shadow: 0.14rem 0.14rem 0.14rem 0.14rem rgba(0, 0, 0, 0.2);
    border-radius: 1.25rem;
    margin-left: 3.75rem;
}